.Kitchen-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 3rem;
}
.heading-box{
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: space-between;
}
.view-btn{
  background-color: black;
  color: white;
  width: 20vw;
  border-radius: 20px;
  height: 9vh;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  margin-left: 1rem;
  margin-right: 1rem;
text-decoration: underline black;
}

.meal-container{
  display: flex;
  justify-content: space-around;
  /* margin-left: 10rem; */
  /* text-align: center; */
  align-items: center;
}
.heading {
  font-size: 50px;
}
.sub-heading {
  margin-top: -2rem;
  font-size: 30px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
}

img {
  width: 20vw;
  height: 25vh;
}
.food-heading {
  font-size: 30px;
  /* margin-left: 5rem; */
}

.add-btn{
  margin-top: 1rem;
  color: white;
  background-color: black;
  height: 5vh;
}
.add-icon{
  background-color: white;
  margin-right: 2rem;
}
.active{
  color: red;
  /* background-color: red; */
}
.inactive{
  color: black;
}
.isFavorite.active {
  background-color: red;
}
.Search-btn{
  background-color: black;
  color: white;
  width: 20vw;
  border-radius: 20px;
  height: 9vh;
  font-size: 17px;
  text-decoration: none;
}
/* .search-heading{
  text-align: center;
  font-size: 50px;
} */