.main-container {
  margin-bottom: 5rem;
}
.Navbar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.Nav-container {
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.img-box {
  margin-left: 32rem;
}
.img-box img {
  width: 18vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 15vh;
}
.Kitchen-heading img {
  margin-left: 1rem;
  width: 15vw;
  margin-top: 1rem;
  margin-bottom: 0.5;
  height: 10vh;
}
.heading-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: space-between;
}
.view-btn {
  background-color: black;
  color: white;
  width: 20vw;
  border-radius: 20px;
  height: 9vh;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fvt-item {
  margin-top: 2rem;
  font-size: 40px;
  text-align: center;
  margin-bottom: 2rem;
}
.fvt-items {
  text-align: center;
}
.Fvt-btn {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 20vw;
  border-radius: 20px;
  height: 9vh;
  font-size: 17px;
}
.cartItem__incrDec {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.num {
  font-size: 30px;
}
.incrDec-btn {
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  width: 3vw;
  cursor: pointer;
  font-size: 30px;
}
.cartItem__removeButton {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 10vw;
  margin-top: 1rem;
  border-radius: 20px;
  height: 9vh;
  font-size: 17px;
}
span {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: underline black;
}
.cart-container {
  margin-left: 5rem;
  margin-top: 3rem;
}
.cart-heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.7rem;
}
.meal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading {
  font-size: 50px;
}
.sub-heading {
  margin-top: -2rem;
  font-size: 30px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

img {
  width: 20vw;
  height: 25vh;
}
.food-heading {
  font-size: 30px;
}

.add-btn {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 20px;
  height: 5vh;
  font-size: 16px;
}
.add-icon {
  background-color: white;
  margin-right: 2rem;
}
.active {
  color: red;
}
.inactive {
  color: black;
}
.isFavorite.active {
  background-color: red;
}
.Search-btn {
  background-color: white;
  color: black;
  width: 15vw;
  border-radius: 20px;
  cursor: pointer;
  height: 9vh;
  font-size: 17px;
  text-decoration: none;
  margin-right: 1rem;
}
.Links-btn {
  display: flex;
  cursor: pointer;
  gap: 14rem;
}

/* SignIn Page Style */
.signin_container {
  height: 100vh;
  margin-top: 5rem;
  text-align: center;
}
.signin_heading {
  font-size: 30px;
  margin-bottom: 20px;
}
.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-bottom: 20px !important;
  width: 40vw !important;
}
.MuiInputLabel-root:hover {
  color: black !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: 1px solid gray !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid black !important;
}
.F-box {
  width: 20vw;
  margin-left: 310px;
  margin-top: 20px;
  font-size: 17px;
}
.terma_condation_section {
  margin-top: 20px;
  font-size: 10px;
  text-align: left;
  width: 40vw;
  margin-left: 30%;
}
a {
  text-decoration: underline;
}
.Btn-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.sign_btn {
  margin-top: 25px;
}
.enable-btn {
  color: white;
  font-size: 15px;
  box-shadow: none;
  cursor: pointer;
  width: 37vw;
  height: 8vh;
  border: 1px solid;
  border-radius: 20px;
  border-width: 1px;
  background-color: black;
}
.disable-btn {
  color: gray;
  font-size: 15px;
  box-shadow: none;
  cursor: pointer;
  width: 40vw;
  height: 8vh;
  border: 1px solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
  border-color: rgb(233, 223, 223);
}
.error-Etext {
  color: red;
  font-size: 15px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: 19rem;
}
.error-Ptext {
  color: red;
  font-size: 15px;
  margin-right: 17rem;
  margin-top: 0.2rem;
}
.Create-btn:hover {
  border-color: black;
}
.Create-btn {
  font-size: 15px;
  color: black;
  background-color: white;
  border-color: rgb(233, 223, 223);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 20px;
  width: 40vw;
  height: 8vh;
}
.F-password {
  color: black;
}
.F-password:hover {
  color: black;
}
.terma_condation_section {
  font-size: 11px;
}

/* .search-heading{
  text-align: center;
  font-size: 50px;
} */

/* Responsive */
@media (max-width: 768px) {
  .Kitchen-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    margin-right: 0rem;
  }
  .Search-btn {
    background-color: black;
    color: white;
    width: 50vw;
    border-radius: 20px;
    height: 7vh;
    font-size: 25px;
    text-decoration: none;
  }
  .heading-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
    /* justify-content: space-between; */
  }
  .food-heading {
    text-align: center;
    font-size: 35px;
  }
  .Links-btn {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
  }
  .Fvt-btn {
    background-color: black;
    color: white;
    width: 35vw;
    border-radius: 20px;
    height: 9vh;
    font-size: 25px;
  }
  .view-btn {
    margin-left: -1rem;
    background-color: black;
    color: white;
    width: 45vw;
    border-radius: 20px;
    height: 9vh;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .meal-container {
    display: flex;
    flex-direction: column;
  }
  ul {
    margin-left: 1rem;
    font-size: 25px;
  }
  img {
    margin-left: 2rem;
    width: 80vw;
  }
  .add-btn {
    margin-right: 1rem;
    margin-top: 1rem;
    color: white;
    background-color: black;
    height: 5vh;
    font-size: 25px;
    margin-bottom: 5rem;
  }
  .isFavorite {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .num {
    font-size: 5rem;
  }
  .incrDec-btn {
    font-size: 3rem;
    height: 6vh;
    width: 15vw;
  }
  .cart-container {
    margin-left: 0rem;
  }
  .cartItem__incrDec {
    margin-left: 1rem;
  }
  .cartItem__removeButton {
    margin-left: 1rem;
    margin-top: 2rem;
    height: 8vh;
    font-size: 25px;
    width: 35vw;
    margin-bottom: 5rem;
  }
  .fvt-item {
    margin-top: 2rem;
    text-align: center;
    font-size: 35px;
    margin-bottom: 3rem;
  }
}

/* IPad */
/* @media (max-width: 1180px) {
  .Kitchen-heading {
    margin-right: 0;
  }
  .Search-btn {
    font-size: 30px;
    width: 30vw;
    height: 7vh;
  }
  .heading-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-between;
  }
  .food-heading {
    font-size: 40px;
  }
  .Links-btn {
    display: flex;
    gap: 2rem;
  }
  .Fvt-btn {
    font-size: 30px;
    width: 29vw;
  }
  .view-btn {
    font-size: 25px;
    width: 26vw;
  }
  .meal-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .fvt-item {
    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
    margin-bottom: 2rem;
  }
  .food-items img {
    width: 40vw;
  }
  .food-items {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .cartItem__removeButton{
    width: 30vw;
    height: 5vh;
    font-size: 30px;
  }
  .num{
    font-size: 50px;
  }
 .incrDec-btn{
  width: 5vw;
  font-size: 30px;
  height: 5vh;
 }
 
} */
